.header {
    /* margin-top: 200px; */
}

.nav {
    color: white;
}

.logo {
    color: rgb(255, 217, 0);
    font-weight: 700;
    font-size: 32px;
}
.nevbar{
    /* background-color: rgba(0, 0, 0, 0.319)";
    border: 1px solid red !important; */
}
.logo:hover {
    color: rgb(255, 217, 0);
}

.inputNav {
    background: transparent;
    background-color: none;
    border: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    width: 300px;
    padding: 0px 10px;
    color: rgb(255, 217, 0);
}

.inputNav::placeholder {
    color: rgb(255, 255, 255);
}

.inputNav:focus {
    outline: none;
    border: 2px solid rgb(255, 217, 0);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 40px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    box-shadow: 0px -95px 101px 5px rgba(0,0,0,0.19) inset;
}
.swiper-slide h1{
    text-align: center;
    width: 100%;
    color: rgb(255, 217, 0);
    position: absolute;
    bottom: 10px;
    font-size: 20px;
    /* border: 2px solid red; */
}
.swiper {
    width: 100%;
    height: 300px;
    margin: 20px auto;
}

a{
    text-decoration: none;
}
p{
    text-align: justify;
}